/* ${THEME_HEADER} */
* {
    background:     ${BG};
    background-alt: ${BG_ALT};
    foreground:     ${FG};
    selected:       ${ACCENT};
    active:         ${GREEN};
    urgent:         ${RED};
}
